*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.header-image{
    background: url(../images/Hero-bg.png);
    background-size: cover;
    width: 100%;
    height: 535px;
    border-radius: 5px;
}
.top-head{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.top-left{
    color: #4e47ff;
    font-size: 35px;
    margin: 20px 50px;
    font-weight: bold;
    padding-top: 7px;
    text-decoration: none;
}
.btn{
    background-color: #4e47ff;
    color: #fff;
    font-size: 20px;
    padding: 15px 20px; 
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: 0.5s;
}
.btn:hover{
    background-color: rgba(78, 71, 255, 0.3)
}
.right{
    margin: 20px 50px;
}
.top-content{
    width: 450px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}
.top-content h1{
    font-size: 30px;
}
.action-container{
    width: 1140px;
    height: 328px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.action-content{
    margin-top: 40px;
    padding: 10px;
    width: 300px;
}
.action-container img{
    border-radius: 40px;
    width: 403px;
    height: 328px;
}
.user-container{
    width: 1140px;
    height: 306px;
    margin: 50px auto;
    background-color: #e5e7ff;
    border-radius: 10px;
    position: relative;
}
.action-container .subtitle{
    opacity: 0.5;
}
.user-container .user-title{
    text-align: center;
    font-size: 30px;
    padding: 40px;
}
.user-feedback{
    margin: auto;
    width: 80%;
}
.user-feedback span{
    display: inline-block;
    color: #4e47ff;
    margin-left: 143px;
    font-size: 60px;
    font-weight: bolder;
}
.user-subtitle{
    width: 80%;
    margin: auto;
    opacity: 0.6;
}
.user-subtitle span{
    display: inline-block;
    margin-left: 150px;
}